#main-page, #compatibility-page {
    width: 100%;
    height: fit-content;
    text-align: left;
}

.main-font * {
    line-height: 0;
}

.main-font h1 {
    margin-bottom: 0.3em;
}

.main-font h1, #compatibility-page h1 {
    font-size: 8vw;
    font-family: 'SBAggroB';
}

.main-line {
    height: 6vw;
    display: flex;
    align-items: center;
}

.main-line * {
    display: inline;
}

.main-line h1 {
    margin-bottom: 0.3em;
}

.main-line img {
    margin-bottom: -1.7em;
    height: 100%;
}
