.movie {
    background: #fff;
}

.movie-cell *, .detail-cell * {
    font-family: 'LeferiPoint-WhiteObliqueA';
}

.movie-cell {
    position: relative;
    display: flex;
    padding: 25px;
    width: 40%;
    height: 90%;
    border:none;
    z-index: 0;
}

.detail-cell {
    position: relative;
    display: flex;
    padding: 5em 1em 1em 1em;
    width: 100%;
    height: auto;
    border:none;
}

.movie-cell:nth-child(1n), .detail-cell:nth-child(n) {
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 0, 47, 0.3) 100%);
}

.movie-photo {
    width: 13vw;
    flex-shrink: 0;
    bottom: -35px;
    left: 35px;
    border-radius: 2px;
    transition: 0.3s ease;
}

.detail-photo {
    width: 20vw;
    flex-shrink: 0;
    border-radius: 2px;
    transition: 0.3s ease;
}

.movie-photo:hover, .detail-photo:hover {
    transform: scale(1.03);
}

.movie-img {
    flex-shrink: 0;
}

.movie-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.5em;
    font-family: 'SBAggroB';
    color: #ffffff;
    font-weight: 600;
}

.detail-title {
    white-space: nowrap;
    overflow: hidden;
    font-size: 2em;
    font-family: 'SBAggroB';
    color: #ffffff;
    font-weight: 600;
}

.movie-subtext {
    padding : 0;
    font-size: 0.9em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.movie-content {
    padding: 0 1.3em;
    color: #ffffff;
    overflow: hidden;
}

.detail-content {
    padding: 1.3em;
    color: #ffffff;
}

.detail-content * {
    padding-bottom : 0.5em;
}

.movie-voters {
    color: #fff;
    vertical-align: sub;
    font-size: 13px;
    margin-left: 7px;
    white-space: nowrap;
    margin-top: 7px;
}

.movie-overview {
    margin-top: 20px;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.movie-see {
    margin-top: 25px;
    text-align: center;
    background-color: #fff;
    color : black;
    font-weight: 600;
    padding: 8px;
    font-size: 14px;
    width: 160px;
    border-radius: 20px;
}

.movie-see:hover {
    color: rgba(255, 0, 47, 1);
}

.movie-sub-box * {
    display: inline;
}

.movie-sub-box *:first-child {
    padding-right :1em;
}

.genre {
    margin-right:0.5em;
}

.detail-sub-box *{
    font-size : 1.2em;
}

.detail-genre * {
    display: inline;
}

.detail-overview {
    line-height: 1.5em;
    width: 70%;
}

.movie_like {
    font-size: 1em;
    margin: 0;
    line-height: 0;
    padding:0 !important;
}