#my-page {
    height: 10vh;
}

#container {
    font-family: 'SBAggroB';
    color: #999;
    text-transform: uppercase;
    font-size: 8em;
    font-weight: bold;
    position: sticky;
    margin-top: 10vh;
    left: 14vw;
    width: 100%;
    display: block;
}

#flip {
    height: 1.5em;
    overflow: hidden;
}

#flip > div > div {
    color: #fff;
    height: 4.5em;
    margin-bottom: 4.5em;
    display: inline-block;
}

#flip div:first-child {
    animation: show 10s linear infinite;
}

#flip div div {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: rgb(166,34,195);
    background-image: linear-gradient(0deg, rgba(166,34,195,1) 0%, rgba(253,45,77,1) 100%);
}
#flip div:first-child div {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: rgb(34,193,195);
    background-image: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
#flip div:last-child div {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: rgb(34,195,161);
    background-image: linear-gradient(0deg, rgba(34,195,161,1) 0%, rgba(45,115,253,1) 100%);
}

@keyframes show {
    0% {
        margin-top: -27em;
    }
    5% {
        margin-top: -18em;
    }
    33% {
        margin-top: -18em;
    }
    38% {
        margin-top: -9em;
    }
    66% {
        margin-top: -9em;
    }
    71% {
        margin-top: 0;
    }
    99.99% {
        margin-top: 0;
    }
    100% {
        margin-top: -27em;
    }
}

.my-page-top {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_movie_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-wrap {
    margin: 10px;
    transform: perspective(800px);
    transform-style: preserve-3d;
    cursor: pointer;
}
.card-wrap:hover .card-info {
    transform: translateY(0);
}

.card-wrap:hover .card-info p {
    opacity: 1;
}

.card-info p,
.card-wrap:hover .card-info {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-wrap:hover .card-info:after {
    transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    transform: translateY(0);
}

.card-wrap:hover .card-bg {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.8;
}

.card-wrap:hover .card {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1)
}

.card {
    position: relative;
    flex: 0 0 240px;
    width: 240px;
    height: 320px;
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
    opacity: 0.5;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    opacity :  5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
}

.card-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(40%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info * {
    position: relative;
    z-index: 1;
}

.card-info:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(#000, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
    font-family: 'SBAggroB';
    font-size: 1.5em;
    padding-bottom: 1em;
    text-shadow: rgba(black, 0.5) 0 10px 10px;
}

.my-title {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-family: 'SBAggroB';
    padding : 10vh 0 0 0;
}

.noList {
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-block:3em;
    font-family: 'LeferiPoint-WhiteObliqueA';
}

.comment-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap : 1em;
}